:root {
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
}

html.dark-mode {
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
  padding-top: 100px;
  padding: 50px;
  background-color: var(--bg-color);

  main {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--bg-color);
    > button:first-of-type {
      background: transparent;
      border: 1px solid var(--font-color);
      color: var(--font-color);
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
    }
  }

  h1 {
    font-weight: 300;
    color: var(--heading-color);
  }

  .results {
    color: #7a92a5;
    font-size: 12px;
    margin: 12px 5px;
    span {
      color: var(--font-color);
      &:nth-child(1) {
        margin-right: 10px;
      }
      &:nth-child(3) {
        color: blue;
        cursor: pointer;
      }
    }
  }

  header {
    width: 100%;
    flex-shrink: 0;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 6px 1px #e1e5e8;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    padding: 10px 20px;
    position: relative;

    input {
      width: 100%;
      text-overflow: ellipsis;
      display: inline-block;
      color: #20455e;
      font-size: 14px;
      outline: 0;
      transition: border 0.1s ease;
      resize: none;
      border: 1px solid #b6c1cd;
      border: none;

      &::placeholder {
        color: #b6c1cd;
      }
    }
  }

  a {
    color: #3899ec;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
  }

  .tickets {
    margin: 0;
    padding: 0;

    .ticket {
      width: 100%;
      flex-shrink: 0;
      border-radius: 8px;
      background-color: var(--bg-color);
      box-shadow: 0 2px 6px 1px #e1e5e8;
      margin-bottom: 14px;
      display: flex;
      flex-direction: column;
      border: 1px solid #fff;
      padding: 10px 20px;
      transition: box-shadow 0.2s ease-in-out;
      position: relative;

      & .hide-ticket {
        display: none;
        color: var(--font-color);
      }

      .title {
        margin: 15px 0;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        color: var(--heading-color);
      }
      .content {
        font-size: 14px;
        line-height: 1.5;
        max-height: calc(3 * 1.5 * 14px);
        overflow: hidden;
        color: var(--font-color);
        &.show-less {
          max-height: none;
        }
        & ~ span {
          color: var(--font-color);
          font-size: 14px;
          border: 1px solid var(--font-color);
          padding: 3px 5px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
      .labels {
        display: flex;
        justify-content: end;
        gap: 10px;
        font-size: 14px;
        > label {
          border: 1px solid rgb(2, 64, 85);
          border-radius: 8px;
          padding: 5px 10px;
          background-color: lightblue;
        }
      }

      footer {
        display: flex;
        justify-content: space-between;

        .meta-data {
          color: var(--font-color);
          font-size: 12px;
          margin: 10px 0;
          flex-shrink: 0;
        }
      }

      &:hover {
        box-shadow: 0 2px 6px 1px #d3d7da;
        .hide-ticket {
          display: unset;
          position: absolute;
          right: 15px;
          top: 15px;
          border: 0;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }
}
